{% extends 'base.html.twig' %}

{% block title %}Realisateur{% endblock %}

{% block body %}
<style>
.profile-card {
    width:35%;
  border: 1px solid #ccc;
  padding:34px 54px;
  margin-top:5%;
  background:#fafafa;
  border-radius:15px;
  margin-left:28%;
  height:10%;
box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.7),
            5px 5px 10px rgba(255, 255, 255, 0.7);

}

.profile-header {
  text-align: center;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin-top: 10px;
}

.profile-description {
  font-style: italic;
  color: #777;
}

.profile-details {
  margin-top: 20px;
}

.detail {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

h1{
    font-family: 'Nunito';
    font-size: 35px;
    margin-left:15px;
    margin-bottom:10%;
    padding-left:10px;
    border: 5px solid blue;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    width:100%;
}

.div{
   display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: tomato;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  margin: 10px;
  font-family: 'Nunito';
  text-align:center;
  font-size:20px;
box-shadow: -5px 5px 10px rgba(0,0,0,0.7),
              5px 5px 10px rgba(0,0,0,0.7);
}
.button:hover {
  background-color: orangered;
}

</style>


 {#   <h1>Realisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ realisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ realisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ realisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ realisateur.nationalite }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                 <td>
                    <img src={{asset('uploads/' ~ realisateur.photo)}} width="50%" />
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_realisateur_index') }}">back to list</a>

    <a href="{{ path('app_realisateur_edit', {'id': realisateur.id}) }}">edit</a>

    {{ include('realisateur/_delete_form.html.twig') }}#}



<div class="profile-card">
 <h1>Réalisateur N° {{ realisateur.id }}</h2>
  <div class="profile-header">
    <img src={{asset('uploads/' ~ realisateur.photo )}} alt="Profile Image" class="profile-image">
    <h2 class="profile-name">{{ realisateur.nom }}  {{ realisateur.prenom }}</h2>
    <p class="profile-description">Realisateur Profil</p>
  </div>
  <div class="profile-details">
    <div class="detail">
      <span class="label">Nationalité:</span>
      <span class="value">{{ realisateur.nationalite }}</span>
    </div>
    
  </div>
   <div class="div">
            <a href="{{ path('app_realisateur_index') }}" class="button">Back to List</a>
            <a href="{{ path('app_realisateur_edit', {'id': realisateur.id}) }}" class="button">Edit</a>
    </div>
</div>

{% endblock %}
